img {
    max-height: 125px;
}

.container > .row {
    margin-top: 30px;
    margin-bottom: 30px;
}

.leads-x2 {
    padding-top: 1.5em;
}

.glyphicon-arrow-down {
    font-size: 30px;
    margin-bottom: 10px;
    display: block;
}

.glyphicon-arrow-down.green {
    color: #3c763d;
}

.glyphicon-arrow-down.blue {
    color: #31708f;
}

.twitter-typeahead {
    width: 100%;
}

.tt-dropdown-menu {
    max-height: 300px;
    overflow-y: auto;
}
.tt-dropdown-menu > div {
    min-width: 500px;
    cursor: pointer !important;
}

.form-signin {
    padding: 15px;
    margin: 0 auto;
}
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
